@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: url("img/fundo-madeira.jpg") no-repeat center center;
    background-size: cover;
}

.phone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 637px;
    width: 311px;
    background: url(img/frame-iphone.png) no-repeat;
}
.phone iframe{
    position: relative;
    left: 50%;
    top: 49.7%;
    transform: translate(-50%, -50%);
}
.buttons{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.buttons img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
.buttons img:hover{
    border: 2px solid rgba(255, 255, 255, 0.648);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.3s, border 0.1s;
}
