@charset "UTF-8";

body{
    background-color: rgb(32, 32, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(22, 80, 236);
    background-color: black;
}
h2{
    color: white;
}
p{
    text-align: justify;
    color: white;
}